contourpy
cycler
fonttools
importlib-resources
joblib
kiwisolver
lightgbm
matplotlib
numpy 
packaging
pandas
Pillow
plotly
pyparsing
python-dateutil
pytz
scikit-learn
scipy
seaborn
six
tenacity
threadpoolctl
zipp