name: issue-automation
permissions:
  issues: write

on:
  issues:
    types: [opened, labeled, unlabeled]

jobs:
  triage-labels:
    runs-on: ubuntu-latest
    steps:
      - name: If no labels, add to scrum board
        uses: peter-evans/create-or-update-project-card@v2
        if: ${{ join(github.event.issue.labels.*.name, ',') == '' }}
        with:
          token: ${{ secrets.ISSUE_ACTIONS_TOKEN }}
          project-location: microsoft
          project-number: 145
          column-name: Triage

      - name: If no labels, add triage
        id: no-labels
        uses: andymckay/labeler@master
        if: ${{ join(github.event.issue.labels.*.name, ',') == '' }}
        with:
          add-labels: 'triage-needed'

      - name: If labeled, remove triage
        uses: andymckay/labeler@master
        if: ${{ steps.no-labels.outcome == 'skipped' && join(github.event.issue.labels.*.name, ',') != 'triage' }}
        with:
          remove-labels: 'triage-needed'
